:root{
    padding: 0;
  margin: 0;
  --Background: rgb(36, 36, 36);
  --Word:rgba (245,245,245,0.7);
  --box:rgba (24,24,24,0.6);
}
body {
  background-color: var(--Background) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
  color: var(--Word) !important;
}